@inject Asp.netcore2.Service.StudentService student
@model Asp.netcore2.Data.StudentDetails
@{
    ViewData["Title"] = "StudentDetails";
}

<h2>StudentDetails</h2>

@if (student.GetAllStudentDetails().Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.studentName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Subject1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Subject2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Grade)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var stu in student.GetAllStudentDetails().OrderBy(x => x.studentName))
            {
                <tr>
                    <td align="left" style="border: solid1px#659EC7; padding: 5px;table-layout:fixed;">
                        <span style="color:#9F000F">
                            @Html.DisplayFor(modelItem => stu.studentName)
                    </td>
                    <td align="left" style="border: solid1px#659EC7; padding: 5px;table-layout:fixed;">
                        <span style="color:#9F000F">
                            @Html.DisplayFor(modelItem => stu.Subject1)
                    </td>
                    <td align="left" style="border: solid1px#659EC7; padding: 5px;table-layout:fixed;">
                        <span style="color:#9F000F">
                            
                            @Html.DisplayFor(modelItem => stu.Subject2)
                    </td>
                    <td align="left" style="border: solid1px#659EC7; padding: 5px;table-layout:fixed;">
                        <span style="color:#9F000F">
                            
                            @Html.DisplayFor(modelItem => stu.Grade)
                    </td>
                </tr>

            }
        </tbody>

    </table>

}

